@media screen and (max-width: 580px) {
     .img{
    display: flex;
    justify-content: center;
     }
  }

@media only screen and (min-width: 481px) and (max-width: 1024px){
   .search {
       Width: 300px;
       padding-left: 50px;
   }
}
@media only screen and (min-width: 1025px){
   .search {
       Width: 400px;
   }
}